<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Booking</title>
  <style>
    .carousel-inner {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  </style>
</head>
<body>
<div class="container">
  <a class="active" href="/">Головна</a>
  <a class="forbidden_tours" href="#">Заброньовані тури</a>
  <a class="add_tours" href="/add-tour">Додати тур</a>
</div>
<div class="container-fluid carrousel-container">
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h7187/orig/o3477057187_637723119385500853.jpg" target="_blank">
          <img src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h7187/orig/o3477057187_637723119385500853.jpg" class="d-block w-100" alt="Slide 1">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h7187/orig/booking7187_17187_637852769892898286.jpg" target="_blank">
          <img src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h7187/orig/booking7187_17187_637852769892898286.jpg" class="d-block w-100" alt="Slide 2">
        </a>
      </div>
      <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-button" aria-hidden="true">Prev</span>
      </a>
      <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-button" aria-hidden="true">Next</span>
      </a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="row row-cols-1 row-cold-md-3 g-4">
  {% for item in data %}
  <div class="col">
    <div class="card">
      <img src="/uploads/{{ item[1] }}" class="card-img-top" alt="Card image" style="width: 100%">
      <div class="card-body">
        <h5 class="card-title">{{ item[2] }}</h5>
        <p class="card-text">{{ item[3] }}</p>
        <h5 class="card-price">{{ item[4] }} грн</h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</body>
</html>